/* Site Styles Go Here */

h2 {
    text-align: center;
    border-style: double;
    }


h3  {
    font-weight: bold;
    text-shadow: 3px 3px 2px #348E1C;
    text-align: center;
    }

p {
    border: 1px solid black;
    background-color: lightblue;
    font-family: comic Sans MS, cursive, sans-serif;
    color: black;
    }

h1 {
    text-align: center;
    font-family: comic Sans MS, cursive, sans-serif;
    }
    
.footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    
.footer-item-flex {
    flex: 0 1 auto;
    background-color: green;
    }



    
    

    